.sliderContainer{
    width: 100%;
    background-color: #4c4f4d;
    padding: 60px 0px;
}

.sliderContainerText{
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}

.sliderContainerText h3{
    color: #a9aba8;
    font-weight: 700;
    font-size: 30px;
}

.sliderContainerText p{
    color: #a9aba8;
    font-weight: 300;
}

.slider {
    width: 100%;
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    gap: 20px;
    width: calc(250px * 14);
}

.slide {
    height: 300px;
    width: 300px;
    background-color: #2f302c;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
}


